CUBEJS_DB_HOST=localhost
CUBEJS_DB_PORT=5432
CUBEJS_DB_NAME=future
CUBEJS_DB_USER=future
CUBEJS_DB_PASS=future
CUBEJS_ATHENA_KEY_ID=your-key
CUBEJS_ATHENA_SECRET=your-secret
CUBEJS_ATHENA_REGION=ap-southeast-1
CUBEJS_ATHENA_S3_OUTPUT=s3://future-athena-results/
CUBEJS_REDIS_URL=redis://localhost:6379
CUBEJS_API_SECRET=your-api-secret
